<?xml version="1.0"?>

<launch> 

  <!-- Start Gazebo with wg world running in (max) realtime -->
  <arg name="world" default="$(find gradient_bug)/world/verdieping.world"/>
  <arg name="gui" default="true"/>
  <arg name="args" default=""/>
  
  <param name="/use_sim_time" value="true" />

  <node name="gazebo" pkg="gazebo_ros" type="gzserver" args="$(arg world) $(arg args)" respawn="false" output="screen"/>
  
    <!-- start gui -->
  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>
  </group>


  <!-- Spawn simulated quadrotor uav >
  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch" >
    <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_with_multiranger.gazebo.xacro"/>
    <arg name="x" value="17"/>
    <arg name="y" value="3"/>
    <arg name="Y" value="0"/>
    <arg name="tf_prefix" value="UAV1"/>
  </include-->


<group ns="UAV1">
  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch" >
    <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_with_multiranger.gazebo.xacro"/>
    <arg name="x" value="-10"/>
    <arg name="y" value="3"/>
    <arg name="Y" value="0"/>
    <arg name="tf_prefix" value="UAV1"/>
       <arg name="name" value="UAV1" />
  </include>

  <node pkg="gradient_bug" type="bug_gazebo_bridge" name="bug_gazebo_bridge" output="screen">
  </node>
</group>

<!--group ns="UAV2">
  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch" >
    <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_with_multiranger.gazebo.xacro"/>
    <arg name="x" value="4"/>
    <arg name="y" value="0"/>
    <arg name="Y" value="0"/>
    <arg name="tf_prefix" value="UAV2"/>
       <arg name="name" value="UAV2" />
  </include>
  <node pkg="gradient_bug" type="bug_gazebo_bridge" name="bug_gazebo_bridge" output="screen">
  </node>
</group-->
  <!--include file="$(find hector_quadrotor_teleop)/launch/xbox_controller.launch" >
    <arg name="control_mode" value="position"/>
  </include-->

</launch>
